__pycache__
geckodriver.log

# ---- rails stuff -----
# Ignore bundler config.
/web/.bundle

# Ignore the default SQLite database.
/web/db/*.sqlite3
/web/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/web/log/*
/web/tmp/*
!/web/log/.keep
!/web/tmp/.keep

# Ignore uploaded files in development
/web/storage/*
!/web/storage/.keep

/web/webInterface/node_modules
/web/yarn-error.log

/web/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/web/config/master.key

# rails config
/web/config/settings.local.yml
/web/config/settings/*.local.yml
/web/config/environments/*.local.yml
